<div class="container" align="center" xmlns="http://www.w3.org/1999/html">
  <h1 class="title">Mi Sala de Chat</h1>

  <table border="2">
    <th>
      <h2><label align="center" style="color: blue;">Victor Hugo Rico Cárdenas</label></h2>
    </th>
  </table>
  <div  class="ruby-comment">
  <div id="messages">
    <%= render @messages %>
  </div>
  <form>
    <input type="text" placeholder=" Digame alguna cosa para el chat !! " data-behavior="chat_speaker" />
  </form>
</div>
</div>